body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}




/* ==== FORM STYLE ==== */
/* Form container styling */

.form-container {
    width: 60%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
}

/* Form title */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Label and input fields styling */
label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fafafa;
}

/* Styling for textarea to make it resizable only vertically */
textarea {
    resize: vertical;
}

/* Button styling */
button {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Responsiveness for smaller screens */
@media screen and (max-width: 600px) {
    .form-container {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
        font-size: 13px;
    }

    button {
        font-size: 14px;
    }
}

/* ==== TABLE STYLE ==== */
table {
    width: 60%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
}

table thead {
    background: #04AA6D;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}



table th {
    font-size: 16px;
}

table td {
    font-size: 15px;
}
